<section class="mbr-section mbr-section-hero mbr-section-full header2 mbr-parallax-background mbr-after-navbar mbr-bg-image" id="header2-3">
    <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(0, 0, 0);">
    </div>

      <div class="mbr-table mbr-table-full">
        <div class="mbr-table-cell">      
          <div class="container container-signup">
            <div class="mbr-section mbr-signup">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <div class="panel-title">
                          <h1>Create Your Pin!</h1>
                        </div>
                      </div>

                      <%= render 'form' %>

                    </div> 
            </div> 
          </div> 
        </div> 
      </div> 
</section>

