 <footer class="mbr-small-footer mbr-section mbr-section-nopadding" id="footer1-2" style="background-color: rgb(255, 255, 255); padding-top: 1.75rem; padding-bottom: 1.75rem;">
        
    <div class="container">
        <p class="text-xs-center">Copyright (c) 2017 Pinteresting.</p>
    </div>
</footer>