<section id="menu-0">

    <nav class="navbar navbar-dropdown bg-color transparent navbar-fixed-top">
        <div class="container">

            <div class="mbr-table">
                <div class="mbr-table-cell">

                    <div class="navbar-brand">
                        <a href="/" class="mbr-iconfont mbr-iconfont-menu navbar-logo" style="color: rgb(0, 0, 0);"><i class="fa fa-camera" aria-hidden="true"></i></a>
                        <a class="navbar-caption text-primary" href="/">Pinteresting</a>
                    </div>

                </div>
                <div class="mbr-table-cell">

                    <button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                        <div class="hamburger-icon"></div>
                    </button>

                    <ul class="nav-dropdown nav-btn-right collapse pull-xs-right nav navbar-nav navbar-toggleable-sm" id="exCollapsingNavbar">
                        <li class="nav-item dropdown">
                            <a class="nav-link link" href="/pin/new"><span class="mbr-iconfont mbr-iconfont-btn" style="color: #b8312f;"></span><i class="fa fa-plus" aria-hidden="true"></i> New Pin </a>
                        </li>
                        <li class="nav-item nav-btn">
                            <a class="nav-link btn btn-primary-outline btn-primary" href="/usersessions/new">Sign In</a>
                        </li>
                    </ul>
                    <button hidden="" class="navbar-toggler navbar-close" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                        <div class="close-icon"></div>
                    </button>

                </div>
            </div>

        </div>
    </nav>

</section>